<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3" *ngIf="!isLoginPage">
    <div class="container-fluid">
      <a class="navbar-brand mx-5 fw-bold">IoT Monitoring </a>
  
      <!-- Profile Icon and Username -->
      <div class="d-flex align-items-center ms-auto">
        <div class="text-light d-flex align-items-center">
          <img src="../assets/image/profile.png" alt="Profile" class="rounded-circle" width="40" height="40">
          <span class="ms-2">{{ username }}</span>
        </div>
      </div>
    </div>
  </nav>
  